### mandatiory variables
keycloak_realm_master_client_secret = "!ChangeMe!"
keycloak_server_url = "http://localhost:8080"

### optional variables with default values
keycloak_realm_master_client_id = "terraform"