name: Eslint
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: yarn install
      - uses: sibiraj-s/action-eslint@v4
        with:
          extensions: 'js,jsx,ts,tsx'
          annotations: true