name: i18n Check
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
permissions:
  checks: write
  contents: read
  pull-requests: write

jobs:
  i18n-check:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm install -g yarn && yarn set version berry && yarn install
    
    - name: Run i18n-check
      run: |
        yarn i18n:check          